@font-face {
    font-family: "GE Inspira Sans";
    font-weight: 400;
    font-style: normal;
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Regular-v01.eot);
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Regular-v01.eot?#iefix) format("embedded-opentype"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Regular-v01.woff) format("woff"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Regular-v01.ttf) format("truetype"), url("//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Regular-v01.svg#GE Inspira Sans") format("svg")
}
@font-face {
    font-family: "GE Inspira Sans";
    font-weight: 400;
    font-style: italic;
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Italic-v01.eot);
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Italic-v01.eot?#iefix) format("embedded-opentype"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Italic-v01.woff) format("woff"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Italic-v01.ttf) format("truetype"), url("//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Italic-v01.svg#GE Inspira Sans") format("svg")
}
@font-face {
    font-family: "GE Inspira Sans";
    font-weight: 700;
    font-style: normal;
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Bold-v01.eot);
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Bold-v01.eot?#iefix) format("embedded-opentype"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Bold-v01.woff) format("woff"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Bold-v01.ttf) format("truetype"), url("//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-Bold-v01.svg#GE Inspira Sans") format("svg")
}
@font-face {
    font-family: "GE Inspira Sans";
    font-weight: 700;
    font-style: italic;
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-BoldItalic-v01.eot);
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-BoldItalic-v01.eot?#iefix) format("embedded-opentype"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-BoldItalic-v01.woff) format("woff"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-BoldItalic-v01.ttf) format("truetype"), url("//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSans-BoldItalic-v01.svg#GE Inspira Sans") format("svg")
}
@font-face {
    font-family: "GE Inspira Serif";
    font-weight: 400;
    font-style: normal;
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Regular-v01.eot);
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Regular-v01.eot?#iefix) format("embedded-opentype"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Regular-v01.woff) format("woff"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Regular-v01.ttf) format("truetype"), url("//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Regular-v01.svg#GE Inspira Serif") format("svg")
}
@font-face {
    font-family: "GE Inspira Serif";
    font-weight: 400;
    font-style: italic;
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Italic-v01.eot);
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Italic-v01.eot?#iefix) format("embedded-opentype"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Italic-v01.woff) format("woff"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Italic-v01.ttf) format("truetype"), url("//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Italic-v01.svg#GE Inspira Serif") format("svg")
}
@font-face {
    font-family: "GE Inspira Serif";
    font-weight: 700;
    font-style: normal;
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Bold-v01.eot);
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Bold-v01.eot?#iefix) format("embedded-opentype"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Bold-v01.woff) format("woff"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Bold-v01.ttf) format("truetype"), url("//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-Bold-v01.svg#GE Inspira Serif") format("svg")
}
@font-face {
    font-family: "GE Inspira Serif";
    font-weight: 700;
    font-style: italic;
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-BoldItalic-v01.eot);
    src: url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-BoldItalic-v01.eot?#iefix) format("embedded-opentype"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-BoldItalic-v01.woff) format("woff"), url(//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-BoldItalic-v01.ttf) format("truetype"), url("//dzlpbrbc7yvq0.cloudfront.net/predixdev/fonts/1.0.0/GEInspiraSerif-BoldItalic-v01.svg#GE Inspira Serif") format("svg")
}