body {
  font-family: "GE Inspira Sans", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #3b3b3f;
}

section {
  clear: both;
  background-color: #8b8d8f;
}

article {
  overflow: hidden;
  background-color: white;
  padding: 20px;
  margin: 10px;
  width: calc(33% - 60px);
  float:left;
  text-transform: uppercase;
  font-size: 0.8rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

div.epoch {
  width: 100%;
  height: 300px;
}

div.header {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  width: calc(100% - 40px); /* account for padding */
  -webkit-font-smoothing: antialiased;

}

div.header h1 {
  display: inline;
  font-weight: normal;
  padding-left: 10px;
  color: #d1d0d8;
  font-size: 1.6rem;
}

div.header h2 {
  float: right;
  font-weight: 400;
  color: #9999a3;
  font-size: 1.6rem;
}

img#logo {
  float: left;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.footer-logo-container {
  position: relative;
}

.footer-logo {
  height: 50px;
  padding: 20px;
  float: right;
}

@media (max-width: 640px) {
  article {
    width: calc(100% - 60px);
  }
  div.header h2 {
    display: none;
  }
}